@using clinic.BLL.ModelVM.Doctor

@model List<GetAllDoctorVM>

@{
    Layout = "~/Views/Shared/_AdminDashBoardLayout.cshtml";
    ViewData["Title"] = "Get All Doctors";
}
<div class="content">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Doctors</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a asp-action="Create" asp-controller="AdminDashboard" class="btn btn-primary btn-rounded float-right">
                <i class="fa fa-plus"></i> Add Doctor
            </a>
        </div>
    </div>
    <div class="row doctor-grid">

        @foreach (var result in Model)
        {
                <div class="col-md-4 col-sm-4  col-lg-3">
                    <div class="profile-widget">
                        <div class="doctor-img">
                            <a class="avatar" href="#">
                                <img src="~/files/@result.DoctorImgUrl" alt="" style="width:80px; height:80px; border-radius:50%; object-fit:cover;"/>
                            </a>
                        </div>
                        <div class="dropdown profile-action">
                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-action="Edit" asp-controller="AdminDashBoard" asp-route-id="@result.Id">
                                    <i class="fa fa-pencil m-r-5"></i> Edit
                                </a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteDoctorModal-@result.Id">
                                    <i class="fa fa-trash-o m-r-5"></i> Delete
                                </a>
                            </div>
                        </div>
                        <h4 class="doctor-name text-ellipsis"><a href="#">@result.Name</a></h4>
                        <div class="doc-prof">@result.Specialization</div>
                        <div class="user-country">
                        @result.YearsOfExperience years of experience
                        </div>
                    </div>
                </div>

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteDoctorModal-@result.Id" tabindex="-1" role="dialog" aria-labelledby="deleteDoctorLabel-@result.Id" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteDoctorLabel-@result.Id">Confirm Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete <b>@result.Name</b>?
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete" asp-controller="AdminDashBoard" asp-route-id="@result.Id" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
