@using clinic.BLL.ModelVM.AdminDashBoard
@{
    Layout = "~/Views/Shared/_AdminDashBoardLayout.cshtml";
    ViewData["Title"] = "AdminDashBoard";
}
 @model clinic.BLL.ModelVM.AdminDashBoard.AdminDashBoardVM
 <div class="content">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>98</h3>
                    <span class="widget-title1">Doctors <i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>1072</h3>
                    <span class="widget-title2">Patients <i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg3"><i class="fa fa-user-md" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>72</h3>
                    <span class="widget-title3">Attend <i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>618</h3>
                    <span class="widget-title4">Pending <i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="chart-title">
                        <h4>Patient Total</h4>
                        <span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
                    </div>	
                    <canvas id="linegraph"></canvas>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="chart-title">
                        <h4>Patients In</h4>
                        <div class="float-right">
                            <ul class="chat-user-total">
                                <li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
                                <li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
                            </ul>
                        </div>
                    </div>	
                    <canvas id="bargraph"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div>

<div class="row">
    <!-- Appointments -->
    <div class="col-12 col-md-6 col-lg-8 col-xl-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline-block">Upcoming Appointments</h4> 
                <a href="@Url.Action("Appointments","AdminDashboard")" class="btn btn-primary float-right">View all</a>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            @foreach (var appointment in Model.UpcomingAppointments)
                            {
                                <tr>
                                    <td style="min-width: 200px;">
                                        <a class="avatar" href="#">@appointment.PatientName?[0]</a>
                                        <h2><a href="#">@appointment.PatientName <span>@appointment.PatientLocation</span></a></h2>
                                    </td>                 
                                    <td>
                                        <h5 class="time-title p-0">Appointment With</h5>
                                        <p>@appointment.DoctorName</p>
                                    </td>
                                    <td>
                                        <h5 class="time-title p-0">Timing</h5>
                                        <p>@appointment.AppointmentDate.ToString("hh:mm tt")</p>
                                    </td>
                                    <td class="text-right">
                                        <a href="@Url.Action("Appointments","AdminDashboard")" class="btn btn-outline-primary take-btn">Take up</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Doctors -->
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card member-panel">
            <div class="card-header bg-white">
                <h4 class="card-title mb-0">Doctors</h4>
            </div>
            <div class="card-body">
                <ul class="contact-list">
                    @foreach (var doctor in Model.Doctors)
                    {
                            <li>
                                <div class="contact-cont">
                                    <div class="float-left user-img m-r-10">
                                        <a href="@Url.Action("Details","Doctor", new { id = doctor.Id })" title="@doctor.Name">
                                                <img src="~/files/@doctor.DoctorImgUrl" alt="" style="width:40px; height:40px; border-radius:50%; object-fit:cover;"/>
                                            <span class="status online"></span>
                                        </a>
                                    </div>
                                    <div class="contact-info">
                                        <span class="contact-name text-ellipsis">@doctor.Name</span>
                                        <span class="contact-date">@doctor.Specialization,@doctor.YearsOfExperience years of experience</span>
                                    </div>
                                </div>
                            </li>
                    }
                </ul>
            </div>
            <div class="card-footer text-center bg-white">
                <a href="@Url.Action("Doctors","AdminDashboard")" class="text-muted">View all Doctors</a>
            </div>
        </div>
    </div>
</div>

<!-- Patients -->
<div class="row">
    <div class="col-12 col-md-6 col-lg-8 col-xl-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title d-inline-block">New Patients </h4> 
                <a href="@Url.Action("Patients","AdminDashboard")" class="btn btn-primary float-right">View all</a>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table mb-0 new-patient-table">
                        <tbody>
                            @foreach (var patient in Model.NewPatients)
                            {
                                <tr>
                                    <td>
                                        <img width="28" height="28" class="rounded-circle" src="~/AdminDashBoard/assets/img/user.jpg" alt=""> 
                                        <h2>@patient.FullName</h2>
                                    </td>
                                    <td>@patient.Email</td>
                                    <td>@patient.Phone</td>
                                    <td><button class="btn btn-primary float-right">@patient.Disease</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Hospital Management -->
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <div class="hospital-barchart">
            <h4 class="card-title d-inline-block">Hospital Management</h4>
        </div>
        <div class="bar-chart">
            <div class="legend">
                <div class="item"><h4>Level1</h4></div>
                <div class="item"><h4>Level2</h4></div>
                <div class="item text-right"><h4>Level3</h4></div>
                <div class="item text-right"><h4>Level4</h4></div>
            </div>
            <div class="chart clearfix">
                <div class="item">
                    <div class="bar"><span class="percent">@Model.OPDPercent%</span>
                        <div class="item-progress" data-percent="@Model.OPDPercent"><span class="title">OPD Patient</span></div>
                    </div>
                </div>
                <div class="item">
                    <div class="bar"><span class="percent">@Model.NewPatientPercent%</span>
                        <div class="item-progress" data-percent="@Model.NewPatientPercent"><span class="title">New Patient</span></div>
                    </div>
                </div>
                <div class="item">
                    <div class="bar"><span class="percent">@Model.LabTestPercent%</span>
                        <div class="item-progress" data-percent="@Model.LabTestPercent"><span class="title">Laboratory Test</span></div>
                    </div>
                </div>
                <div class="item">
                    <div class="bar"><span class="percent">@Model.TreatmentPercent%</span>
                        <div class="item-progress" data-percent="@Model.TreatmentPercent"><span class="title">Treatment</span></div>
                    </div>
                </div>
                <div class="item">
                    <div class="bar"><span class="percent">@Model.DischargePercent%</span>
                        <div class="item-progress" data-percent="@Model.DischargePercent"><span class="title">Discharge</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

